<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        class="logo"
        src="../public/images/coogMusic.png"
        alt="Coog Music logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <% if (user_type === null) { %>
            <a class="nav-link" href="/login">Sign in</a>
        <% } else { %>
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <% if (user_type === 2) { %> 
                <a class="nav-link" href="/admin">Admin Dashboard</a>
            <% } %> 
            <% if (user_type === 1) { %> 
                <a class="nav-link" href="/addtrack">Add a song</a>
            <% } %> 

            <a class="nav-link" href="/listener">User Dashboard</a>
            <a class="nav-link" href="/music">Music</a>
            <a class="nav-link" href="/logout">Log out</a>
        <% } %> 
      </div>
    </div>
  </div>
</nav>
