<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Upload Track - Coog Music</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <%- include('header') %>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="../public/stylesheets/upload-track.css" />
        <link rel="stylesheet" href="../public/stylesheets/listener.css" />
    </head>

    <body>
        <%- include('loading') %>
        <header>
            <div id="sidebarMenu" class="d-flex flex-column text-white">
                <div
                    class="d-flex align-items-center justify-content-around flex-column"
                >
                    <a href="/" class="logo">
                        <img
                            class="logo"
                            src="../public/images/coogMusic.png"
                            alt="Coog Music logo"
                        />
                    </a>
                    <h2>Hello, <%=user%></h2>
                </div>
                <hr />
                <ul class="nav nav-pills flex-column">
                    <li>
                        <a
                            class="nav-link text-white"
                            aria-current="page"
                            href="/musician-tracks"
                            ><i class="fa fa-music"></i> &nbsp;&nbsp;My
                            tracks</a
                        >
                    </li>
                    <li>
                        <a class="nav-link text-white active" href="/addtrack"
                            ><i class="fa fa-plus"></i> &nbsp;&nbsp;Upload a
                            track</a
                        >
                    </li>
                    <li>
                        <a class="nav-link text-white" href="/Logout"
                            ><i class="fa fa-arrow-left"></i> &nbsp;&nbsp;Log
                            out</a
                        >
                    </li>
                </ul>
            </div>
        </header>

        <main>
            <div class="container">
                <form
                    id="upload-standalone-track"
                    enctype="multipart/form-data"
                    method="post"
                    action="/addtrack"
                    onsubmit="upload()"
                >
                    <h3>Upload Track</h3>
                    <div class="form-group">
                        <label class="bold" id="trackname-label" for="trackname"
                            >Track Name</label
                        >
                        <input
                            type="text"
                            id="trackname"
                            placeholder="Enter the track name."
                            name="trackname"
                            class="form-control"
                            required
                        />
                    </div>

                    <div class="form-group">
                        <label
                            class="bold"
                            id="track-file-label"
                            for="track-file"
                            >Track File</label
                        >
                        <label for="track-file" class="form-control-file">
                            <i class="fa fa-file-audio fa-xl"></i><span style="font-weight: 600;"> Select your song &nbsp;</span>
                        </label>
                        <span id="audio-file-sel"></span>
                        <input
                            type="file"
                            accept=".mp3"
                            id="track-file"
                            name="trackfile"
                            class="form-control-file"
                            required
                        />
                    </div>

                    <div class="form-group">
                        <label class="bold" id="trackart-label"
                            >Track Artwork</label>
                        
                        <label for="trackart" class="form-control-file"> 
                            <i class="fa fa-file-image fa-xl"></i><span style="font-weight: 600;"> Select your art &nbsp;</span>
                        </label>
                            <span id="cover-file-sel"></span>
                            <input
                                type="file"
                                accept=".png, .jpg, .tif"
                                id="trackart"
                                name="trackart"
                            />
                            
                            
                        
                    </div>

                    <div class="form-group">
                        <button type="submit" id="submit" class="input-submit">
                            Upload
                        </button>
                    </div>
                </form>
            </div>
        </main>
        <script></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <script>
            $('#track-file').bind('change', function() {
                let name = ($(this).val()).split("\\")[2]
                
                $('#audio-file-sel').html(name)
            })
            $('#trackart').bind('change', function() {
                let name = ($(this).val()).split("\\")[2]
                
                $('#cover-file-sel').html(name)
            })
            $(window).on("load", function () {
                $("#loading").hide();
            });
        </script>
    </body>
</html>
