
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #b5b5b5;
}

.navbar {
  background-color: black;
  height: 5rem;
}

.nav-link{
  color: rgb(230, 227, 227);
  cursor: pointer;
  margin-right: 1.3em !important;
  font-weight: 700;
}

.nav-link:hover {
  color: rgb(206, 53, 53);
}

.navbar-brand img{
  position: absolute;
  z-index: 999;
  top: 10%;
  height: 9rem;
  width: 9rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

.home-header {
  background-image: linear-gradient(
  black, rgba(49, 3, 3, 0.8),rgba(65, 5, 5, 0.8)), url('..//images/header.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  background-repeat: no-repeat;
}